body {
    font-family: Cursive, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],input[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

input[type=checkbox]
{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    
}

.gender{
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    background-color: #EE4E34;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #FCEDDA;
    padding: 20px;
}

label {
    color: #EE4E34;
}

